USE [master]
GO
/****** Object:  Database [ebook]    Script Date: 2024/12/7 下午 11:10:36 ******/
CREATE DATABASE [ebook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ebook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ebook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ebook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ebook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ebook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ebook]
GO
/****** Object:  Table [dbo].[bookinfo]    Script Date: 2024/12/7 下午 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookinfo](
	[bid] [int] IDENTITY(1,1) NOT NULL,
	[bname] [nvarchar](50) NOT NULL,
	[price] [money] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[type] [nvarchar](50) NULL,
 CONSTRAINT [PK_bookinfo] PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 2024/12/7 下午 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[bid] [int] NOT NULL,
	[wid] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[setdate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_inventory] PRIMARY KEY CLUSTERED 
(
	[bid] ASC,
	[wid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trade]    Script Date: 2024/12/7 下午 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trade](
	[bid] [int] NOT NULL,
	[cname] [nvarchar](50) NOT NULL,
	[transactionType] [nvarchar](50) NOT NULL,
	[tquantity] [int] NOT NULL,
	[ransactionDate] [datetime2](7) NULL,
	[remarks] [nvarchar](50) NULL,
 CONSTRAINT [PK_trade] PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userinfo]    Script Date: 2024/12/7 下午 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userinfo](
	[cname] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[cellphone] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[birthday] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_userinfo] PRIMARY KEY CLUSTERED 
(
	[cname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse]    Script Date: 2024/12/7 下午 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse](
	[wid] [int] IDENTITY(1,1) NOT NULL,
	[wname] [nvarchar](50) NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[setdate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_werehouse] PRIMARY KEY CLUSTERED 
(
	[wid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bookinfo] ON 

INSERT [dbo].[bookinfo] ([bid], [bname], [price], [status], [type]) VALUES (1, N'JavaScript', 550.0000, N'有庫存', N'網頁開發')
INSERT [dbo].[bookinfo] ([bid], [bname], [price], [status], [type]) VALUES (3, N'HarryPotter', 418.0000, N'有庫存', N'奇幻小說')
INSERT [dbo].[bookinfo] ([bid], [bname], [price], [status], [type]) VALUES (4, N'100種京都', 380.0000, N'有庫存', N'旅遊')
SET IDENTITY_INSERT [dbo].[bookinfo] OFF
GO
INSERT [dbo].[inventory] ([bid], [wid], [quantity], [setdate]) VALUES (1, 2, 20, CAST(N'2024-12-07T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[inventory] ([bid], [wid], [quantity], [setdate]) VALUES (3, 3, 5, CAST(N'2024-12-07T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[inventory] ([bid], [wid], [quantity], [setdate]) VALUES (4, 2, 1, CAST(N'2024-12-07T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[trade] ([bid], [cname], [transactionType], [tquantity], [ransactionDate], [remarks]) VALUES (1, N'李晃欣', N'信用卡', 3, CAST(N'2024-12-08T12:30:00.0000000' AS DateTime2), N'中午12:00後')
INSERT [dbo].[trade] ([bid], [cname], [transactionType], [tquantity], [ransactionDate], [remarks]) VALUES (3, N'武石蘭', N'貨到付款', 5, CAST(N'2024-12-08T15:33:00.0000000' AS DateTime2), N'晚上6點後')
INSERT [dbo].[trade] ([bid], [cname], [transactionType], [tquantity], [ransactionDate], [remarks]) VALUES (4, N'辛八克', N'信用卡', 4, CAST(N'2024-12-09T22:54:00.0000000' AS DateTime2), NULL)
GO
INSERT [dbo].[userinfo] ([cname], [password], [cellphone], [address], [birthday]) VALUES (N'台積電', N'2330tsmc', N'0923302330', N'tsmc2330@tsmc.com', CAST(N'1994-09-05T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[userinfo] ([cname], [password], [cellphone], [address], [birthday]) VALUES (N'李晃欣', NULL, N'0977766520', N'abc888@gmail.com', CAST(N'2011-08-07T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[userinfo] ([cname], [password], [cellphone], [address], [birthday]) VALUES (N'辛八克', N'star888', N'0988555888', N'rich888@gmail.com', CAST(N'1988-12-08T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[warehouse] ON 

INSERT [dbo].[warehouse] ([wid], [wname], [location], [setdate]) VALUES (2, N'倉庫A', N'東側', CAST(N'2024-12-07T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[warehouse] ([wid], [wname], [location], [setdate]) VALUES (3, N'倉庫B', N'西側', CAST(N'2024-12-07T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[warehouse] OFF
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [FK_inventory_bookinfo] FOREIGN KEY([bid])
REFERENCES [dbo].[bookinfo] ([bid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [FK_inventory_bookinfo]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [FK_inventory_werehouse] FOREIGN KEY([wid])
REFERENCES [dbo].[warehouse] ([wid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [FK_inventory_werehouse]
GO
ALTER TABLE [dbo].[trade]  WITH CHECK ADD  CONSTRAINT [FK_trade_bookinfo] FOREIGN KEY([bid])
REFERENCES [dbo].[bookinfo] ([bid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[trade] CHECK CONSTRAINT [FK_trade_bookinfo]
GO
ALTER TABLE [dbo].[trade]  WITH CHECK ADD  CONSTRAINT [FK_trade_userinfo] FOREIGN KEY([cname])
REFERENCES [dbo].[userinfo] ([cname])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[trade] CHECK CONSTRAINT [FK_trade_userinfo]
GO
ALTER TABLE [dbo].[userinfo]  WITH CHECK ADD  CONSTRAINT [FK_userinfo_userinfo] FOREIGN KEY([cname])
REFERENCES [dbo].[userinfo] ([cname])
GO
ALTER TABLE [dbo].[userinfo] CHECK CONSTRAINT [FK_userinfo_userinfo]
GO
USE [master]
GO
